{% extends 'base.html.twig' %}

{% block title %}Green Music | List of category
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>{{ controller_name }}</h1>

		{# <div class="">
					<a href="">
						<img class="" src="https://picsum.photos/800/600">
						<div class="text-center">
							{{ categorie.name }}
						</div>
					</a>
				</div> #}

	{% endblock %}
